CompileFlags:
  Add: [
    -I/home/arthur/Documents/Perso/Projets/NeuralNetworkFromScratch/include,
    # -O3,
    # -flto,
    -Wall,
    -Wextra,
    -Wpedantic,
    # -Werror,
    -Wshadow,
    -Wnon-virtual-dtor,
    -Wreorder,
    -Wmaybe-uninitialized,
    -Wunused-variable,
  ]
  Compiler: g++

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Diagnostics:
  UnusedIncludes: Strict

Index:
  Background: Build
